//    Border radius
//    Created: 5.03.2021
//
//    Based on One Foudation Figma Library
//    8px discipline is a rule :D
//
//------------------------------------/

// Border radius
//------------------------------------/
$radius-xs: $b8 * 0.25; //2px
$radius-s: $b8 * 0.5; //4px
$radius: $b8; //8px
$radius-l: $b8 * 2; //16px
$radius-rounded: 50%; //50%
