//    Nordea Data visualization Palete Tokens
//    Created: 5.03.2021
//
//    Based on One Foudation Figma Library

//------------------------------------/

$dw-color-medium-blue: rgb(51, 153, 255);
$dw-color-haas-blue: $color-haas-blue;
$dw-color-dark-lavender: rgb(160, 103, 248);
$dw-color-bright-lavender: rgb(156, 155, 255);
$dw-color-rose: rgb(217, 104, 150);
$dw-color-sakura: rgb(222, 162, 205);
$dw-color-cortado: rgb(198, 147, 131);
$dw-color-dark-pink: rgb(240, 193, 174);
$dw-color-red-copper: rgb(249, 131, 94);
$dw-color-apricot: rgb(255, 165, 69);
$dw-color-dark-yellow: $color-accent-dark-yellow;
$dw-color-gray: rgb(158, 158, 158);
$dw-color-light-gray: $color-light-gray;
$dw-color-mint: rgb(3, 228, 236);
