//    comp Font
//    Created: 5.03.2021
//
//------------------------------------/

// Weights
//------------------------------------/
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-boldest: 900;

// Font Family Vars
//------------------------------------/
$font-family-nordea-sans: 'Nordea Sans', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
$font-family-nordea-sans-large: 'Nordea Sans Large', 'Nordea Sans', Arial,
    'Helvetica Neue';
