
@mixin stylesForDarkMode {
    .uiw-input {
        &__label {
            color: $color-white;
        }
        &:focus::placeholder {
            color: $color-white-25;
        }

        .uiw-input--disabled .uiw-input__label {
            color: $color-dark-gray;
        }

        &:focus-within .uiw-input__label,
        &--focus .uiw-input__label {
            color: $color-medium-blue;
        }

        &--disabled {
            .uiw-input__field::placeholder,
            .uiw-input__label,
            .uiw-input__note,
            .uiw-input__counter {
                color: $color-dark-gray;
            }

            .uiw-input__field-container {
                background-color: $color-darkest-gray;
            }
        }

        &--error,
        :focus-within &--error .uiw-input__label {
            color: $color-accent-red;
        }

        &--error {
            .uiw-input__field-container {
                border-color: $color-accent-red;
            }
            .uiw-input__field::placeholder {
                color: $color-white;
            }
        }

        &__field-container {
            background-color: $color-black;
            border-color: $color-dark-gray;
        }

        &:focus-within .uiw-input__field-container,
        &--error:focus-within .uiw-input__field-container,
        &--error.uiw-input--focus .uiw-input__field-container,
        &--focus .uiw-input__field-container {
            border-color: $color-medium-blue;
        }

        &__left-icon {
            color: $color-medium-blue;
        }

        &--error .uiw-input__label,
        &--error .uiw-input__left-icon,
        &--error .uiw-input__error {
            color: $color-accent-red;
        }

        &__field {
            color: $color-white;
            &:disabled {
                background-color: $color-darkest-gray;
            }
        }
        &__postfix {
            color: $color-white;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .uiw-enable-dark-mode {
        @include stylesForDarkMode();
    }
}
.uiw-enforce-dark-mode {
    @include stylesForDarkMode();
}

.uiw-input {
    display: block;
    min-height: 86px;
    &__header {
        display: flex;
        font-size: $font-size-m;
        margin-bottom: $space-xs;
    }
    &__label {
        flex: 1;
    }
    &--disabled {
        .uiw-input__field-container {
            background: $color-cool-gray;
        }

        .uiw-input__label,
        .uiw-input__counter,
        .uiw-input__field::placeholder {
            color: $color-nordea-gray;
        }
        .uiw-input__note {
            color: $color-medium-gray;
        }
    }
    &:focus-within .uiw-input__label,
    &--focus .uiw-input__label {
        color: $color-nordea-blue;
    }
    &__note {
        color: $color-dark-gray;
    }
    &__field-container {
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid $color-medium-gray;
        border-radius: 2px;
        box-sizing: border-box;
        background: $color-white;
        height: 40px;
        /* This padding prevents the border from disappearing when the browser is
     * scaled down to 90 or 80% */
        padding: 1px 0;
    }

    &--error {
        .uiw-input__field-container {
            border-color: $color-accent-dark-red;
        }
        .uiw-input__field::placeholder {
            color: $color-black;
        }
    }
    &:focus-within .uiw-input__field-container,
    &--error:focus-within .uiw-input__field-container,
    &--error.uiw-input--focus .uiw-input__field-container,
    &--focus .uiw-input__field-container {
        border-color: $color-nordea-blue;
    }
    &__field {
        flex: 1;
        min-width: 0;
        box-sizing: border-box;
        border: none;
        padding: $space-s $space-m;
        font-size: $font-size-large;
        font-family: inherit;
        background: transparent;

        &::-ms-clear {
            display: none;
        }
        &:focus {
            outline: none;
            &::placeholder {
                color: $color-medium-gray;
            }
        }
        &::placeholder {
            color: $color-dark-gray;
        }
    }

    &__postfix {
        user-select: none;
        padding: 0 $space-m;
        margin: -1px 0;
        font-size: $font-size-large;
        line-height: 38px;
        font-family: inherit;
    }

    &__left-icon {
        color: $color-nordea-blue;
        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: $space-m;
    }

    &--error .uiw-input__left-icon {
        color: $color-accent-dark-red;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: $space-xs;
        font-size: 13px;
    }
    &__error {
        flex: 1;
        color: $color-accent-dark-red;
    }

    &__counter {
        color: $color-dark-gray;
        margin-left: $space-s;
    }
    &--error .uiw-input__counter,
    &--error .uiw-input__label,
    &--error:focus-within .uiw-input__label {
        color: $color-accent-dark-red;
    }
}
